table {
    border-collapse: collapse;
    width: 100%;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 10vh;
    padding-bottom: 20vh;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr {
    background-color: #f2f2f2;
}