/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    padding: 10px 0;
    font-size: 14px;
  }
  
  #topbar .contact-info a {
    line-height: 1;
    color: #fff;
  }
  
  #topbar .contact-info a:hover {
    color: #46026c;
  }
  
  #topbar .contact-info i {
    color: #fff;
    padding: 4px;
  }
  
  #topbar .contact-info .fa-phone {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #e9e9e9;
  }